{% extends 'base.html.twig' %}

{% block title %}Hello in Crud!{% endblock %}

{% block styles %}
    <style>
        .header {
            background-color: #999999;
            padding: 10px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">
    <div id="crud_div">
        <Crud />
    </div>
    </div>
{% endblock %}
